<h1>Goals Feed</h1>

<ul>
	<% @users.each do |user| %>
	  <li>
			<strong>
				<%= user.username %>
			</strong>
		</li>
		<ol>
		  <% user.goals.each do |goal| %>
			<% if goal.public %>
			  <li>
				<strong><%= goal.title.capitalize %></strong>
				<p>Description: <%= goal.description %></p>
				<p>Status: <%= goal.completed ? "Complete" : "Incomplete" %></p><br>
				<% end %>
			  </li>
			<% end %>
		</ol>
  <% end %>
</ul>
