<h1>New Goal</h1>
<form action="<%= user_goals_url %>" method="POST" accept-charset="utf-8">

	<input type="hidden"
				 name="authenticity_token"
				 value="<%= form_authenticity_token %>">

	<label>Goal Title
		<input type="text" name="goal[title]">
	</label>
	<br>

	<label>Goal Description
		<textarea name="goal[description]">
		</textarea>
	</label>
	<br>

  <label>Public
	  <input type="radio" name="goal[public]" value="true">
	</label>

	<label>Private
	  <input type="radio" name="goal[public]" value="false">
  </label>
	<br>

 	<input type="submit" value="Create Goal">
</form>
